<?xml version="1.0" encoding="UTF-8"?>
<web-app id="hs2" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <display-name>Restful Web Application</display-name>
        <servlet-name>com.slongpre.homesense.controller.AppLoader</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.slongpre.homesense.settings.AppLoader</param-value>
        </init-param>
    </servlet>
</web-app>